_site/
/.quarto/
/.vscode/
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
**/*.quarto_ipynb
